
/* ez lesz az álatlános, mindenre vonatkozok */

body 
{
margin:0px;
padding:0px;
font-family:"Playfair Display";
background: linear-gradient(315deg, rgba(245,212,238,1) 0%, rgba(246,227,242,1) 40%, rgba(242,250,253,1) 70%);
background-size:auto;
max-width: 100%;
max-height: 100%;
background-repeat: no-repeat;
min-height: 100vh;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: italic;

}

/* ez a menure, navigaciora vonatkozo szabályok */
nav
{
display:flex;
flex-direction:row;
justify-content: space-evenly;
background-color:#f0b8e4;
height: 45px;
width:100%;
}

nav > div {
  width:20%;
  display:flex;
  justify-content:center;
  align-items:center;

}

.menu { 
font-family:"Playfair Display";
font-style: italic;
color: whitesmoke;
display:flex;
align-items:center;
text-decoration: none;
padding: 5px;
margin:5px;
font-size: 26px;
transition: 0.7s;
text-align: center;


}

.menu:hover {
background-color: #ea8ad7;
color: #333333;
font-size: 30px;
border-color: #ea8ad7;
border-radius:15%;


}

#covercontainer {
  width: 100%;
  max-height: 400px; 
 overflow: hidden; 
  position: relative; 
  background-size:contain;
}

#cover > img {
  width: 100%;
opacity: 80%;
}
/* ez a home pagere és annak contentjére vonatkozo szabályok */
 
  h1 {

   font-size:30px;
   font-style: italic;
   font-family:"Playfair Display";
   z-index: 1;
   position: absolute;
   color: whitesmoke;
}

/* ez lesz az About pagere vonatkozok */
.intro::first-letter {font-size:35px;}

.wholeabout {text-align:justify;}

.quote {
font-style: italic;
font-weight: bold;
}


 .freddie {float: right;
height:250px;
width:200px;
 }

/* ez a contact pagere vonatkozo szabályok */
.socialimage {
    width: 40px;
    height: 30px;
    margin-right: 10px;
display: inline-block;

}

.social {
  font-family:"Playfair Display";
  font-style:italic;
  padding-top: 20px;

}

.paw {
  
  width:40px;
  height:50px;
  color:#727171;
  float:right;
  transform:rotate(-45deg);
  animation-name:steps;
  animation-iteration-count: intinite;
 }
  
 .paw :nth-child(odd) {
  animation: steps 16s infinite steps(10);
  animation-delay: 2s;
overflow:visible;
  position:absolute;
  left: 20px;
   
}

.paw :nth-child(even) {
  animation: steps 16s infinite steps(10);
  animation-delay: 1s;
overflow:visible;
  position: absolute;
  right: 20px;
 
  
}

@keyframes steps {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-350px);
      opacity: 0%;
    }

  

  } 

@keyframes steps {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-350px);
      opacity: 0%;
    }

  

  } 
  

/* ez a More pagere vonatkozo szabályok */
#video 
{display: block;
  flex-direction: column;
  align-items: center;
}

 /* ez a Gallery vonatkozo szabályok */


 #imagegallery {
  display:flex;
  flex-wrap:wrap

 }
.imagegallery {
  width: 250px;
  height: 250px;
}

